#footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #c3c4c8;
    padding: 10px 0;
}

.footer_element {
    display: inline-block;
    margin: 0 10px;
}

.footer_element > p > a {
    text-decoration: none;
    color: black;
}

#contact {
    padding-top: 9px;
    padding-right: 0;
    text-align: center;
}